backend/TODO.txt
TODO.txt
node_modules/

.npmrc
.configs
*.configs
.configs.*

.idea/
.vscode/

*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
/bin

/build/
/dist/

*.log
logs/

.DS_Store
Thumbs.db